@media (max-width: 750px){
   header nav{
        display: none;
    }

    header .responsivo img{
        display: inline-block;
        width: 70%;
        cursor: pointer;
    }

    header{
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .about-us{
        font-size: 25px;
        width: 80%;
    }
}

@media (max-width: 550px){
    .conteiner-card .card .img-card{
        left: 4.5vh;
        top: -7vh;
    }

    .img-card img{
        width: 35vh;
    }

    .card-conteudo h3{
        top: -7vh;
    }
    
    .card-conteudo p{
        top: -50px;
        left: 35px;
    }

    .botao-card{
        left: 35px;
    }

    .icons-link ul li{
        margin: 5px;
    }

    .icons-link ul li img{
        width: 35px;
    }
}

@media (max-width: 460px){
    .conteiner-card .card .img-card{
        left: 22px;
    }
    .img-card img{
        width: 30vh;
    }

    .botao-card{
        top: -35px;
        left: 45px;
        width: 25vh;
    }
}

@media (max-width: 410px){
    .img-card img{
        width: 25vh;
    }

    .botao-card{
        top: -20px;
        left: 40px;
        width: 20vh;
        font-size: 16px;
    }

    .card-conteudo h3{
        font-size: 25px;
    }

    .card-conteudo p{
        left: 3vh;
        font-size: 15px;
    }
}